{% extends 'basic.html' %}
{% block title %}Home{% endblock title %}
{% block home %} active {% endblock home %}
{% block body %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators mt-5">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="width: max-content;" src="https://source.unsplash.com/1920x350/?dark,technology">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>TechBlog</h1>
                    <p>A Platform to know about latest Technology comes in Market</p>
                    <p><button class="btn btn-primary" data-bs-target="#signupmodal" data-bs-toggle="modal"
                            type="button">Sign up today</button></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img style="width: max-content;" src="https://source.unsplash.com/1920x350/?science">
            <div class="container">
                <div class="carousel-caption">
                    <h1>THE DECADE OF THINGS</h1>
                    <p>Even a small pin and a big jetliner, all are the products of technology.</p>
                    <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img style="width: max-content;" src="https://source.unsplash.com/1920x350/?computer">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>The Internet of Things</h1>
                    <p>The 20th century was a boom in technology in every field from production to space.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mt-4">
</div>
{% for i in content|slice:":2" %}
<div class="container ">
    <div
        class="row g-0 shadow-lg p-3 mb-3 bg-white rounded border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="card-text text-primary">{{i.title}}</strong>
            <div class="text-muted">{{i.date}}   ({{i.views}} views)</div>
            <!-- <h4 class="mb-0">{{i.category}}</h4> -->
            <p class="d-inline-block mt-2">{{i.content|safe|slice:150}}....</p>
            <i class="mb-2">Article by <b>{{i.author}}</b></i>
            <div>
                <a href="/blog/{{i.slug}}" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/static/media/{{i.image}}" class="bd-placeholder-img" style="width: 400px;height:255px;">
        </div>
    </div>
</div>
{% endfor %}
<div class="d-flex justify-content-center mb-4">
    <a href="/blog" class="btn btn-primary">See More</a>
</div>


{% endblock body %}